<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scott.springbootdemo.mapper.UserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.scott.springbootdemo.entity.User">
                <id column="id" property="id" />
                <id column="user_code" property="userCode" />
                <result column="user_name" property="userName" />
                <result column="password" property="password" />
                <result column="deleted" property="deleted" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_code, user_name, password, deleted
        </sql>


    <select id="getPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
    </select>


</mapper>
